@import "src/assets/styles/variables.scss";

.tasty-posts {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10 * $mainsize;
    margin: 10 * $mainsize 0;
    justify-items: center;
  }
}
