<div class="bio-container">
    <p class="bio-title">About</p>
    <p class="bio-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took  galley of type and scrambled it to make a type specimen book. It has survived not only five cen galley of type and scrambled it to make a type specimen book. It has survived not only five cent galley of type and scrambled it to make a type specimen book. It has survived not only five cent a galley of type and scrambled it to make a type specimen book. It has survived not only five centuri</p>
</div>
