.user-details {
  background-color: #edede9;
  padding: 10px 10px 0 10px;
  margin-top: 15px;
  margin-left: 30px;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
