<div class="nav-wrapper">
  <div class="nav-wrapper__page-title">
    <p>My Tasty Food</p>
  </div>
  <div class="nav-wrapper__search-bar">
    <taste-search-bar></taste-search-bar>
  </div>
  <div class="nav-wrapper__session-management">
    <div class="nav-wrapper__session-management__user-profile">
      <p class="nav-wrapper__session-management__user-profile__profile-name">
        {{currentUser?.firstName}} {{currentUser?.lastName}}
      </p>
      <span (click)="handleOpenUserProfile()" class="material-symbols-outlined icon">
        account_circle
      </span>
    </div>
    <span class="material-symbols-outlined icon">
      settings
    </span>
    <span class="material-symbols-outlined icon" (click)="handleSignOff()">
      logout
    </span>
  </div>
</div>
