<div class="tasty-post-summary__container">
  <div class="tasty-post-summary__title-time-wrapper">
    <div class="tasty-post-summary__title-time-wrapper__title">
      {{ _post.title }}
    </div>
    <div class="tasty-post-summary__title-time-wrapper__time">
      <mat-icon class="tasty-post-summary__title-time-wrapper__time__icon">access_time</mat-icon>
      <span>30 minutes</span>
    </div>
  </div>
    <img
      src="assets/food.jpg"
      alt="Food image"
      class="tasty-post-summary__image"
    >
  <div class="tasty-post-summary__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores et quas veritatis. Aperiam corporis
    dignissimos harum itaque laudantium nostrum obcaecati omnis quibusdam quo similique!
    At consectetur corporis quas sed voluptas.
  </div>
  <div class="tasty-post-summary__buttons-wrapper">
    <button
      class="tasty-post-summary__buttons-wrapper__check-button"
    >
      See recipe
    </button>
    <button class="tasty-post-summary__buttons-wrapper__save-button">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>
</div>
