<div class="profile-info-wrapper">
  <div class="profile-info-wrapper__general-info">
    <div class="personal-info">
      <div class="info-row">
        <p>Name</p>
        <p>Andrzej</p>
      </div>
      <hr>
      <div class="info-row">
        <p>Name</p>
        <p>Andrzej</p>
      </div>
      <hr>
      <div class="info-row">
        <p>Name</p>
        <p>Andrzej</p>
      </div>
      <hr>
      <div class="info-row">
        <p>Name</p>
        <p>Andrzej</p>
      </div>

<!--      <p>Krystian</p>-->
<!--      <p>Niezawodny</p>-->
<!--      <p>2020-01-01</p>-->
    </div>
    <div class="contact-info">
      <div class="info-row">
        <p>Name</p>
        <p>Andrzej</p>
      </div>
      <hr>
      <div class="info-row">
        <p>Name</p>
        <p>Andrzej</p>
      </div>
      <hr>
      <div class="info-row">
        <p>Name</p>
        <p>Andrzej</p>
      </div>

    </div>
  </div>
  <div class="hobby-info">
    <div class="info-row">
      <p>Name</p>
      <p>Andrzej</p>
    </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr><div class="info-row">
    <p>Name</p>
    <p>Andrzej</p>
  </div>
    <hr>
  </div>






</div>

<!--<p>{{currentUser?.firstName}}</p>-->
<!--<p>{{currentUser?.middleName}}</p>-->
<!--<p>{{currentUser?.lastName}}</p>-->
<!--<p>{{currentUser?.address}}</p>-->
<!--<p>{{currentUser?.birthDate}}</p>-->
<!--<p>{{currentUser?.phoneNumber}}</p>-->
