<div class="details-container">
  <div class="details-row">
    <span class="row-icon">
      <mat-icon class="icon">
        person
      </mat-icon>
    </span>
    <p class="row-value">Dziadyga Pan Strzyga</p>
  </div>
  <div class="details-row">
    <span class="row-icon">
      <mat-icon class="icon">
        mail
      </mat-icon>
    </span>
    <p class="row-value">John.Doe@example.com
    </p>
  </div>
  <div class="details-row">
    <span class="row-icon">
      <mat-icon class="icon">
        location_on
      </mat-icon>
    </span>
    <p class="row-value">123 Main Street, New York, USA
    </p>
  </div>
  <div class="details-row">
    <span class="row-icon">
      <mat-icon class="icon">
        call
      </mat-icon>
    </span>
    <p class="row-value">+1-541-754-3010
    </p>
  </div>
</div>
