<div class="recent-posts">
  <p class="title">Recently liked posts</p>
  <div class="post-imgs">
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
    <tasty-img-list-item></tasty-img-list-item>
  </div>
</div>
