<div class="media-container">
  <a class="media-element" href="https://example.com/" target="_blank">
    <mat-icon class="icon">
      person
    </mat-icon>
  </a>
  <a class="media-element" href="https://example.com/" target="_blank">
    <mat-icon class="icon">
      person
    </mat-icon>
  </a>
  <a class="media-element" href="https://example.com/" target="_blank">
    <mat-icon class="icon">
      person
    </mat-icon>
  </a>
  <a class="media-element" href="https://example.com/" target="_blank">
    <mat-icon class="icon">
      person
    </mat-icon>
  </a>
  <a class="media-element" href="https://example.com/" target="_blank">
    <mat-icon class="icon">
      person
    </mat-icon>
  </a>
</div>
