<div class="wrapper-container">
  <div class="wrapper-container__header-banner">
    <img class="wrapper-container__header-banner__profile-picture" src="/assets/kanapeczki.jpg" alt="">
    <h3 class="wrapper-container__header-banner__profile-name">
      {{currentUser?.firstName}} {{currentUser?.lastName}}
    </h3>
  </div>
  <div class="wrapper-container__profile-info">
    <div class="wrapper-container__profile-info__select-content">
      <p class="wrapper-container__profile-info__select-content__option" [ngClass]="{ 'selectedOption': selectedOption === 'info' }" (click)="selectedOption = 'info'" class="content">Profile information</p>
      <span class="wrapper-container__profile-info__select-content__divider"></span>
      <p class="wrapper-container__profile-info__select-content__option" [ngClass]="{ 'selectedOption': selectedOption === 'favs' }" (click)="selectedOption = 'favs'" class="content">Favourite posts</p>
    </div>
    <div class="wrapper-container__profile-info__profile-content">
      <div *ngIf="selectedOption === 'info'">
        <taste-profile-info ></taste-profile-info>
      </div>
      <div *ngIf="selectedOption === 'favs'"></div>
    </div>
  </div>
</div>
