.wrapper-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .user-details {
    flex: 1;
  }

  .profile-content{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 3;
  }
}
